*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 60px;
}

#nav1 .navbar-brand{
    color: white; 
    font-size: 1.5rem;
    
}

#nav1 ul li a{
    color: white
}
#nav1 ul #login{
    position: absolute; 
    right: 80px;
}

#contact h1,#contact h3,#contact h6 {
         text-align: center;
         color: whitesmoke;
    }

  #contact h4,#contact h5 {
         color: whitesmoke;
         margin-left: 50px;
         display: inline;
    }

    #contact .row {
         margin-top: 100px;
    }

    #contact .btn-outline-light {
         width: 200px;
         margin-left: 30%;
    }
    #contact form{
         margin-bottom: 40px;
    }
    #icon1, #icon2,#icon3{
         height: 30px;
         color:whitesmoke;

          }